<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa
        https://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <jpa:repositories base-package="org.itstep.pd011"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>org.sqlite.JDBC</value>
        </property>
        <property name="url">
            <value>jdbc:sqlite:assets/books_2.db</value>
        </property>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="jpaData"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <!-- задание диалекта для работы с базой данных SQLite - при помощи
                     зависимости com.zsoltfabok -->
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</prop>
                <!-- показывать или не показывать текст запроса при выпоолнении запроса -->
                <prop key="hibernate.show_sql">false</prop>
                <!-- форматировать или не форматировать текст запроса при выполнении запроса -->
                <prop key="hibernate.format_sql">false</prop>
                <!-- поведение при запуске - не менять БД, менять БД или создаавать БД -->
                <prop key="hibernate.hbm2ddl.auto">none</prop> <!-- update или create или none  -->
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

</beans>